<div class="bg-image shadow">

    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent shadow">
        <div class="container-fluid">
            <div class="row">
          <a class="navbar-brand col-12" routerLink="">DR. COLIN VICKERS</a>
          <a class="navbar-brand col-12">Fine Art Photography</a>
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            </ul>
            <span class="navbar-text">
              <a class="navbar-brand" routerLink="contact">Get in Touch</a>
              <a class="navbar-brand">Language</a>
            </span>
          </div>
        </div>
      </nav>

  <div class="text text-center text-white mt-5">
      <h2>Inspiring Photography</h2>
      <p>Photos Full Of Energy & Passion</p>
  </div>

</div>
