<div class="container text-center mt-2">

<h3> Fine-Art Photographer Vienna, Austria</h3>
<p>
Dr Colin Vickers is an English fine-art photographer living in Vienna, Austria and is widely recognised as one of the world's leading fine-art nude photographers today. The emotions his pieces convey are rarely found in this genre especially considering he rarely shows faces in his pieces. His pieces are often minimalistic yet complicated and often toned with old-fashioned hues.

'I see myself as a minimalist and a perfectionist and I think this shows a lot in my work. I am heavily influenced by modern fine-art nude photographers and also by the Renaissance masters, and I inspire to bring these two genres together in order to create unique and timeless masterpieces that will look incredible on anyone's living-room wall.'

Colin was born in Lincoln, England in 1975 and moved to London at the age of 18 where he obtained his undergraduate and doctorate degree at Imperial College. In 2003, he moved to Vienna and fell in love with the city. In 2009, he opened his studio in Vienna's 7th district and has been working there ever since.

'Most of my subjects are normal people, like you and me, and I aspire to bring their personalities into my pieces. I feel this gives my photos a very personal and emotional connection.'

Colin's art started to gain attention in 2010 with his first exhibition and, since then, he has won many international awards. His work has been featured in many magazines and can be found on display at many locations in Vienna. He is available for sittings and commissioned work and often gives workshops for local photographers/artists.</p>

<button class="btn btn-danger" routerLink="contact">Get In Touch</button>

<hr>

<h3>GREAT PHOTOS, HAPPY CLIENTS</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsa iusto amet non, accusantium a ipsum ratione incidunt officiis vel voluptatum, deleniti aut, ducimus voluptatem distinctio quos voluptatibus repellendus quaerat! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quo aliquid quibusdam assumenda illo doloremque, hic nostrum voluptates impedit molestiae similique quasi dignissimos expedita quaerat labore fugiat repellendus facilis. Numquam?</p>

<button class="btn btn-danger" routerLink="contact">Get In Touch</button>
<hr>
<i class="fab fa-instagram"></i>
</div>
